name: Run OPA Tests
on: [push]
jobs:
  Run-OPA-Tests:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.opa-validation.outputs.result }}
    steps:
    - name: Check out repository code
      uses: actions/checkout@v3
    - name: Setup OPA
      id: opa-setup
      uses: open-policy-agent/setup-opa@v2
      with:
        version: latest
    - name: Run OPA Tests
      id: opa-validation
      run: |
       API_RESPONSE=$(opa eval -i  data/fw_rules.json -d policy  "data.palo_alto.compliance")
       RES=$(echo "$API_RESPONSE" | jq -r '.result[0].expressions[0].value.allow' ')
       echo "result=RES" >> $GITHUB_OUTPUT
    - name: OPA Show Results
      id: opa-show
      run: echo $RES
