name: Run OPA Tests
on:
  push:
    paths-ignore:
      - '**.md' # Ignores all Markdown files
      - '**.rego' # Ignore rego policies 
      - '**.yaml' # Ignores yaml filesd
      - '**.yml' # Ignores yaml filesd
jobs:
  Run-OPA-Tests:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.opa-validation.outputs.result }}
    steps:
    - name: Check out repository code
      uses: actions/checkout@v3
    - name: Setup OPA
      id: opa-setup
      uses: open-policy-agent/setup-opa@v2
      with:
        version: latest
    - name: Run OPA Tests
      id: opa-validation
      run: |
           API_RESULT = $(opa eval -i  data/fw_rules.json -d policy  "data.palo_alto.compliance" --fail) 
           echo "result=API_RESULT" >> "$GITHUB_OUTPUT"
    - name: show result
      run : echo ${{ steps.opa-validation.outputs.result }}"
    
